# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.egg
build/
dist/
.env
.venv
venv/
ENV/
.env.*
.pytest_cache/

# IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Local configuration
config.env
staging/
